header{
    background-color: beige;
    margin: 5%;
}


body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 105%;
    color: rgb(19, 1, 102);
}

nav{
    background-color: rgb(243, 243, 174);
}

main{
    background-color: blanchedalmond;
    font-size: larger;
    margin: 2%;
}

footer{
    background-color: rgb(194, 178, 156);
}

li{
    display: inline-block;
    width: 30%;
    text-align: center;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

p{
    line-height: 150%;
}